# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.pytest_cache
.cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
workspace.code-workspace

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST

# Text editor
.vs
.vscode

# Jupyter
.ipynb_checkpoints

# Data
data/*
results/*
scripts/script_config.ini
cache
